<!DOCTYPE html>
<link rel="stylesheet" href="components/timeline/timeline.css">

<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a href="#0" data-date="01/01/2015" >May 2010 </a></li> 
					<li><a href="#0" data-date="01/02/2016">Feb 2016</a></li>
					<li><a href="#0" data-date="01/06/2017">Jun 2017</a></li>
					<li><a href="#0" data-date="01/01/2018">Jan 2018</a></li>
					<li><a href="#0" data-date="01/06/2018">Jun 2018</a></li>
					<li><a href="#0" data-date="01/09/2018">Oct 2018</a></li>
					<li><a href="#0" data-date="01/06/2019">Jun 2019</a></li>
					<li><a href="#0" data-date="01/09/2019" class="selected">Sep 2019</a></li>
					<li><a href="#0" data-date="01/08/2020">Aug 2020</a></li>
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			
		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>
			<li  data-date="01/01/2015">
				<h2>Child Dancer at Kiev's National Competitions</h2>
				<em>May, 2010</em>
				<p>	
					During my years growing up in Ukraine, I became a child dancer, participating in Kiev's National dancing competitions for about 3 years. Growing up in Ukraine also made me trilingual; I am fluent in Russian, Ukrainian and English.
				</p>
			</li>

			<li data-date="01/02/2016">
				<h2>Finalist of the International VEX IQ Challange of 2016</h2>
				<em>February, 2016</em>
				<p>	
					At the age of 14, I joined a Robotics Team in my School that participated in the International VEX IQ Challange Competition. Our school team (consisting of 5 students) got to the semi-finals in Birmingham and the finals in Kentucky, USA. We built the robots with tools from a special kit and wrote Arduino code for them.
				</p>
			</li>

			<li data-date="01/06/2017">
				<h2>Winner of HSBC's National Mandarin Speaking Competition</h2>
				<em>June, 2017</em>
				<p>	
					My friends and I applied to HSBC's National Mandarin Speaking Competition in the UK, with the help of our school. Over the course of a year, we managed to get to the Finals, in London's Opera House, where we won a huge title for our school and a free 2 week trip to China. That year, the Lady of China, Miss Peng, visited our school, where I had an opportunity to sing to her in our choir.
				</p>
			</li>

			<li data-date="01/01/2018">
				<h2>DofE Bronze & Ice Skating</h2>
				<em>Jan, 2018</em>
				<p>	
					In 2018, I applied for the Dukes of Edinborough award, which encouraged me to Volunteer at a charity shop for 6 months, and I continued to persue my passion for ice skating. I managed to pass all 13 ice skating levels up to Gold in 3 years.
				</p>
			</li>

			<li data-date="01/06/2018">
				<h2>GCSES of 5A*s and 4As</h2>
				<em>June, 2018</em>
				<p>	
					I did my GCSEs, where i I got a 9 in English, 8 in Physics, Biology and Computer Science and 7 in Maths, Mandarin, History and English Language.
				</p>
			</li>

			<li data-date="01/09/2018">
				<h2>First data analysist work experience at Iris</h2>
				<em>October, 2019</em>
				<p>	
					Here, I got my first work experience opportunity in a Hotel Management Company. I worked on a series of reports that visualised information about available guest orders, visualising data for their main product using Matplotlib for data visualisation and Pandas for datamanipulation.
				</p>
			</li>

			<li data-date="01/06/2019">
				<h2>A*A*A Grades</h2>
				<em>June, 2019</em>
				<p>	
					I took my predicted A level grades exam, achieving A* in Maths and Computing and an A in Physics.
				</p>
			</li>

			<li class="selected" data-date="01/09/2019">
				<h2>Interview at Snapchat, Spotify and Google, work experience at Thompson Reuters</h2>
				<em>September, 2019</em>
				<p>	
					To develop a deeper understanding of the Software Engineering industry, using my connections, I had an opportunity to go to the London Snapchat, and Spotify offices, where I was lucky enough to interview the different teams working in the company, whom gave me an insight on the important qualities and tools used in the profession. I additionally had a chance to interview the developer teams in the Google office in Silicon Valley, Los Angeles. Afterwards, I did my second work experience in Thompson Reuters where I observed Labs engineering, Data Science and User Experience teams collaborating, while working on ongoing projects.
				</p>
			</li>

			<li data-date="01/08/2020">
				<h2>Queen Mary University of London - Computer Science and Management Bachelorette</h2>
				<em>August, 2020</em>
				<p>	
					I was unable to sit the exam due to COVID-19, and my 6th Form was disadvantaged due to it being a public college. They were forced to award me with lower grades than ever expected. In the end I got an A in Maths and Computer Science and a B/C in Physics. After this, I got into the course I wanted at Queen Mary University of London (2nd best university for Computer Science in London), for a Computer Science and Management Degree.
				</p>
			</li>

			<li data-date="01/07/2021">
				<h2>Achieved a 1st in my earliedt year in University with an average garde of 76%</h2>
				<em>July, 2021</em>
				<p>	
					I found my first year in University to be extremely insighful, interesting and challaging. I have significantly extended my Java OOP knowlegde, that I have used in my personal Java projects. I have additionlly learnt a lot about system design and modelling using a variety of UML diagrams. Moreover, a new interested in ecomonics has sparked for me this year, which I found fascinating to study. However, I have found the most passion in Web design, which resulted in the creation of this Portfolio website, using raw HTML and css.
					
				</p>
			</li>

			<li data-date="01/08/2021">
				<h2>New Start Up Project</h2>
				<em>August, 2021</em>
				<p>	
					I have spent my summer developing a web app in aspiration to create my start up idea. The project aims to implement a delivery system for charity donations, to encourage charity and reduce the disposable waste produced. I used Js React to build my application, and am working on the backed using Python.
					
				</p>
			</li>

			<li data-date="01/09/2021">
				<h2>Looking for a placements for 2022</h2>
				<em>August, 2021</em>
				<p>	
					I feel confident in my coding abilities going into year two of studying computer science. I am very excited to start my Software Engineering Project this year, as well as going into the industry in 2022. I have attended multiple talks, by comapnies such as: Fivium and EithXbase to find the right placement for myself.
				</p>
			</li>


		</ol>
	</div> <!-- .events-content -->
</section>